* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #008000;
    height: 100vh;
}

nav {
    height: 60px;
    border-bottom: 3px solid black;
    background: #808000;
}